// FONTS
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
$font-primary: "Open Sans", sans-serif;

$font-size-title: 28px;
$font-size-title--sub: 20px;
$font-size-label: 12px;
$font-size-text: 16px;

// BORDER RADIUS
$border-radius-default: 10px;

// COLORS
$color-primary: rgb(0, 143, 7);
$color-white: #fff;
$color-light-shade: rgba(0, 0, 0, 0.103);
$color-black: #000;

// COLOR TEXT
$color-text-title: rgba(55, 56, 55, 0.993);
$color-text-paragraph: rgb(102, 102, 102);

// UI ELEMENTS
.global {
  &__section-title {
    color: $color-primary;
    font-size: $font-size-text;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__title {
    font-size: $font-size-title--sub;
    font-weight: bold;
  }

  &__paragraph {
    font-size: $font-size-text;
  }
}

.button {
  width: 14rem;
  height: 5rem;
  border-radius: 10px;
  background: $color-primary;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.3s ease-out;

  &:hover {
    background: $color-primary;
    color: $color-white;
  }
}

// HELPERS

// Keyframes

// RESET CSS
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: $color-text-title;
}

p,
ul {
  color: $color-text-paragraph;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:target {
  transition: all 1s ease-out;
}
